/*
Theme Name: FilterlessCo
Author: Botez Costin
Author URI: http://bitbucket.com/costibotez94
Description: Custom theme build for internal use only
Version: 1.0.0
Text Domain: filterlessco
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

@font-face {
  font-family: BebasNeueRegular;
  src: url("fonts/BebasNeueRegular.ttf");
}

@font-face {
  font-family: BebasNeueBook;
  src: url("fonts/BebasNeueBook.ttf");
}

@font-face {
  font-family: BebasNeueLight;
  src: url("fonts/BebasNeueLight.ttf");
}

@font-face {
  font-family: NueBold;
  src: url("fonts/Nue_Bold.ttf");
}

@font-face {
  font-family: NueLight;
  src: url("fonts/Nue_Light.ttf");
}

@font-face {
  font-family: NueMedium;
  src: url("fonts/Nue_Medium.ttf");
}

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

* {
	font-family: BebasNeueRegular, 'sans-serif';
	letter-spacing: 1px;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

header#masthead, footer {
    background: #000;
    line-height: 60px;
}

header#masthead{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.logged-in header#masthead {
	top: 32px;
}

div#content {
    margin-top: 60px;
    margin-bottom: 60px;
}

.single.single-artists div#content {
    margin-bottom: 160px;
}

@media (min-width: 990px) {
    /*.single.single-artists .col-md-12 a img {
        max-height: 253px;
        min-height: 253px;
    }*/
    .horizontal {
        /*width: 370px;*/
        /*height: 270px;*/
        margin: 0 auto;
        display: block;
    }
}

.gigante {
    width: 100%;
}

.single.single-artists .col-md-12 a:active,
.single.single-artists .col-md-12 a:focus {
    outline: none;
}

.vertical {
    display: block;
    margin: auto;
}

footer#colophon {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.site-branding {
    display: block;
    float: left;
    clear: both;
    width: 25%;
    height: 60px;
    line-height: 60px;
}


footer#colophon a {
	float: left;
}

footer#colophon p {	/* Copryright text*/
    float: left;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: BebasNeueBook;
    margin-bottom: 0;
}

#primary-menu li {
    text-transform: uppercase;
    font-size: 20px;
    padding-right: 130px;
}

.navbar-collapse.collapse {
	float: left;
}

.navbar-header {
	margin-right: 90px !important;
}

#primary-menu li:last-child {
    padding-right: 0;
}

#primary-menu li a {
    color: #fff;
    font-family: BebasNeueRegular, 'sans-serif';
}

.nav>li>a:focus, .nav>li>a:hover {
	background: transparent;
}

.home h1 {
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 370px;
    letter-spacing: 4px;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-filter: drop-shadow(1px 1px 0px #000);
    filter: drop-shadow(1px 1px 0px #000);
}

/*Contact page*/

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea.medium {
	font-size: 18px !important;
}

.contact-us h1 {
    font-size: 34px;
    color: #000;
    margin-top: 50px;
}

.gform_wrapper label.gfield_label {
    color: #000;
    font-size: 16px !important;
}

.gform_wrapper .gfield_required {
    color: #000 !important;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea.medium {
    border: 1px solid #000;
    border-radius: 0;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus,
.gform_wrapper textarea.medium:focus,
.gform_wrapper .gform_footer input.button:focus {
    outline: none;
}

body .gform_wrapper .top_label div.ginput_container {
	margin-top: 0 !important;
}

.contact-details p {
    margin-bottom: 0;
}

.contact-details p a {
    font-size: 20px;
    font-family: BebasNeueBook, 'sans-serif';
    color: #000;
    letter-spacing: 1px;
}

.contact-details {
    margin-top: 35px;
    margin-bottom: 27px;
}

.gform_wrapper textarea.medium {
    height: 190px !important;
}

.gform_wrapper .gform_footer input.button {
    border: 1px solid #000;
    border-radius: 0;
    background: transparent;
    text-transform: uppercase;
    color: #000;
}

/*Licensing page*/
.licensing {
	background: #171515;
}

.licensing h1,
.licensing h2 {
    font-size: 34px;
    color: #fff;
}

.licensing h2 {
	font-size: 60px;
}

.licensing h1 {
	margin-top: 50px;
}

.licensing p {
    font-size: 20px;
    color: #fff;
    font-family: Roboto, 'sans-serif';
    letter-spacing: 0;
}

.licensing .col-md-4 p,
.licensing .col-md-4 h2 {
    font-family: BebasNeueRegular, 'sans-serif';
    max-width: 62%;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;
    /*word-spacing: 3px;*/
}

/*.licensing .col-md-4 p {
    font-family: Lekton, BebasNeueRegular, 'sans-serif';
}*/

/*.licensing .col-md-4 p {
    line-height: 2;
}*/

.licensing .col-md-4 h1 {
    top: 0;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.licensing .col-md-4 {
    padding-left: 0;
    padding-right: 0;
}

/*.licensing .row {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 60px;
}*/


.licensing .col-md-4:nth-child(even) div:last-child,
.licensing .col-md-4:nth-child(odd) div:last-child {
    position: absolute;
    top: 0;
}

.col-md-4.img-responsive img.img-responsive {
    width: 100%;
}

.licensing .col-md-4 p {
    /*margin-bottom: 80px;*/
    filter: drop-shadow(1px 1px 0px #000);
    -webkit-filter: drop-shadow(1px 1px 0px #000);
    font-family: Roboto, sans-serif;
}

.licensing .col-md-4 h1 {
    margin-top: 80px;
}

/*Production page*/

.production h1,
.representation h1 {
    font-size: 34px;
    color: #000;
    margin-top: 50px;
}

.production p,
.representation p {
    font-size: 19px;
    color: #000;
    font-family: BebasNeueLight, 'sans-serif';
    letter-spacing: 1px;
    /*word-spacing: 3px;*/
}

/*.representation p span {
    font-family: inherit;
}*/

.production p span {
    clear: both;
    float: left;
    font-size: 22px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: 5px;
}

.projects .col-md-4,
.artists .col-md-3 {
    padding-right: 0;
    padding-left: 0;
}

.projects .col-md-4 {
    min-height: 312px;
}

.projects .col-md-4 .col-md-12 {
    padding-left: 0;
}

.projects h2,
.artists h2 {
    font-size: 18px;
    color: #000;
}

.pagination {
    text-align: center;
    display: block;
    font-size: 16px;
}

.pagination a {
    font-family: BebasNeueLight, 'sans-serif';
    padding: 0 5px;
    color: #000 !important;
}

.pagination a.current {
	text-decoration: underline;
}

.pagination a:not(.current):hover {
	text-decoration: none;
}

/*Representation*/
.representation {
	background: #171515;
}

.representation h1,
.representation p,
.representation .pagination a,
.representation .artists h2 {
    color: #FFF !important;
}

.representation .col-md-3 .col-md-12 {
    padding-left: 0;
    min-height: 240px;
}

.representation .col-md-3 .col-md-12 img {
    /*min-height: 180px;*/
    width: 100%;
}

.representation .artists h2 {
    margin-bottom: 8px;
}

.representation .artists h3 {
    margin: 0;
    font-family: BebasNeueBook, 'sans-serif';
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
}

.projects .col-md-4 img {
    min-height: 243px;
    max-height: 243px;
    width: 100%;
}

/*Single Artist*/

.artists h1,
.project h1 {
    font-size: 34px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.single.single-project .project h1 {
	font-family: BebasNeueBook, 'sans-serif';
	text-transform: uppercase;
}

.single.single-project .project h1 strong{
	font-family: BebasNeueRegular, 'sans-serif';
}

.single.single-artists h2,
.single.single-project h2 {
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 25px;
	font-family: BebasNeueBook, 'sans-serif';
	text-transform: uppercase;
}

.single.single-project h2 {
	margin-bottom: 10px;
}

.single.single-project h2 +p {
    margin-top: 25px;
}

.single.single-artists .entry-content p,
.single.single-project .entry-content p,
.single.single-project .entry-content p span {
    font-family: Roboto, BebasNeueBook, 'sans-serif';
    font-size: 23px;
    letter-spacing: 0;
    /*letter-spacing: 3px;*/
}

.single.single-artists .col-md-5,
.single.single-project .col-md-5,
.single.single-artists .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.single.single-artists .col-md-7,
.single.single-project .col-md-7 {
	margin-top: 50px;
    padding-right: 0;
}

.single.single-artists .col-md-7 img,
.single.single-project .col-md-7 img {
	width: 100%;
	margin-bottom: 40px;
}

.modal-footer {
	border-top: none;
}

.modal-header {
	border-bottom: none;
}

.modal-content {
	height: 100%;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.modal.in .modal-dialog {
	width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
}

.modal-open .modal {
    background: #fff;
}

.close {
    margin-top: -20px;
    font-size: 70px;
    opacity: 1;
    background: transparent !important;
    box-shadow: none;
}

button.close:active, button.close:hover, button.close:focus,
.btn.btn-default:active, .btn.btn-default:hover, .btn.btn-default:focus {
    outline: none;
    box-shadow: none;
}

.btn.btn-default {
    float: left;
    clear: both;
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #000;
    border-radius: 0;
}

.single.single-project .col-md-12,
.single.single-project .col-md-12 [class*="col-"],
.single.single-artists .col-md-12,
.single.single-artists .col-md-12 [class*="col-"] {
    padding: 0;
}

.gform_wrapper .gfield_description {
    font-size: 16px !important;
}

.licensing .col-md-4 div h2 {
	font-size: 60px;
    margin-top: 180px;
    filter: drop-shadow(1px 1px 0px #000);
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	/*clear: both;*/
	display: block;
	float: left;
	width: 75%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


.navbar-toggle .icon-bar {
	background: #fff;
}

.navbar {
	margin-bottom: 0;
    min-height: 60px;
}

.navbar > .container-fluid {
	margin-top: 5px;
    padding-left: 0;
    padding-right: 0;
}

.nav>li>a {
	display: inline;
}

.col-md-12.featured-responsive {
	display: none;
    margin-top: 50px;
}
/* MEDIA QUERY*/


@media (max-width: 1200px) {
	.navbar-header {
	    margin-right: 0px !important;
        margin-left: 0 !important;
	}

	#primary-menu li {
	    padding-right: 15px;
	}

	.home h1 {
		top: 300px;
	}
	.licensing .col-md-4 p {
		margin-bottom: 0;
	}
	.representation .col-md-3 .col-md-12 img {
		min-height: 146px;
	}
}

@media(min-width: 990px) and (max-width: 1366px) {
	.licensing .col-md-4 p, .licensing .col-md-4 h2 {
	    padding-right: 0px;
	    max-width: 70%;
	}
}
@media(min-width: 1150px) and (max-width: 1240px) {
	.licensing .col-md-4 div h2 {
		margin-top: 130px;
	}
}
@media(min-width: 1100px) and (max-width: 1150px) {
	.licensing .col-md-4 div h2 {
		margin-top: 100px;
	}
}
@media(min-width: 1000px) and (max-width: 1100px) {
	.licensing .col-md-4 div h2 {
		margin-top: 50px;
	}
}
@media(min-width: 990px) and (max-width: 1000px) {
	.licensing .col-md-4 div h2 {
		margin-top: 20px;
	}
}
@media (max-width: 990px) {
	.col-md-12.featured-responsive {
		display: block;
	}
	.min980 {
		display: none;
	}

	.home h1 {
		top: 225px;
	    font-size: 36px;
	}

    footer#colophon {
        position: static;
    }
}
@media (max-width: 980px) {
	.representation .col-md-3 .col-md-12 img,
	.projects .col-md-4 img {
		max-height: 100%;
	}
}

@media(max-width: 970px) {
	.licensing .col-md-4 div h2 {
		margin-top: 130px;
	}
}

@media(max-width: 900px) {
	.licensing .col-md-4 div h2 {
		margin-top: 110px;
	}
    .licensing .col-md-4 p {
        line-height: 1.5;
    }

    .licensing .col-md-4 p, .licensing .col-md-4 h2 {
        max-width: 64%;
        padding-right: 30px;
    }
}

@media(max-width: 860px) {
	.licensing .col-md-4 p, .licensing .col-md-4 h2 {
		padding-right: 20px;
	}
	.licensing .col-md-4 div h2 {
		margin-top: 120px;
	}
}

@media(max-width: 810px) {
	.licensing .col-md-4 p, .licensing .col-md-4 h2 {
		padding-right: 0px;
	}
}

@media (max-width: 770px) {
	.home h1 {
		top: 250px;
	    font-size: 30px;
	}
    .navbar-brand {
        padding-left: 0;
    }

    .licensing .col-md-4 div h2 {
		margin-top: 95px;
	}
}
@media (max-width: 750px) {
	.licensing .col-md-4 div h2 {
		margin-top: 50px;
	}
	.licensing .col-md-4 p {
		font-size: 19px;
	}
}
@media (max-width: 700px) {
	.licensing .col-md-4:nth-child(odd) div:last-child {
		top: 0
	}
	.licensing .col-md-4 p, .licensing .col-md-4 h2 {
		max-width: 70%;
	}

}

@media (max-width: 650px) {
	.home h1 {
		top: 250px;
	    font-size: 27px;
	}

    section[id*="filterlessco_social_icons"] {
        width: 100%;
    }

    section[id*="filterlessco_social_icons"] li:first-child a {
        margin-left: 0;
    }

    .gform_wrapper.gf_browser_chrome .gform_body {
        width: 100% !important;
    }
}

@media (max-width: 630px) {
	.licensing .col-md-4 div h2 {
	    margin-top: 15px;
	}
	.licensing .col-md-4 p, .licensing .col-md-4 h2 {
		max-width: 73%;
	}
	.licensing .col-md-4 p {
	    font-size: 18px;
	}

}

@media (max-width: 600px) {
	.licensing .col-xs-6 {
		width: 100%;
	}
	.licensing .col-md-4 div h2 {
		margin-top: 180px;
	}

	.licensing .col-md-4 p, .licensing .col-md-4 h2 {
	    max-width: 62%;
	    padding-right: 60px;
	    font-size: 20px;
	}

}

@media (max-width: 450px) {
    .home h1 {
        top: 200px;
    }
	.col-xs-6 {
    	width: 100%;
	}
    .licensing .col-md-4 p, .licensing .col-md-4 h2 {
        padding-right: 30px;
    }

	/*.licensing .col-md-4:nth-child(odd) div:last-child {
		top: auto;
	}*/
    .licensing .col-md-4 div h2 {
        margin-top: 80px;
    }

	.licensing .col-md-4:nth-child(even) div:last-child {
		/*bottom: 0;*/
		top: 30px;
	}

    .representation .col-md-3 .col-md-12,
    .projects .col-md-4 .col-md-12 {
        padding-right: 0;
    }
}

@media (max-width: 420px) {
    .licensing .col-md-4 p, .licensing .col-md-4 h2 {
        padding-right: 20px;
    }
}

@media (max-width: 400px) {
    .licensing .col-md-4 p, .licensing .col-md-4 h2 {
        padding-right: 12px;
        max-width: 65%;
    }

    footer#colophon .container > * {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 380px) {
    .licensing .col-md-4 p, .licensing .col-md-4 h2 {
        padding-right: 0;
    }
}

#primary-menu li a {
    outline: none;
}

.home div#content,
.licensing div#content {
    margin-bottom: 0;
}

.navbar-toggle {
    margin-right: 0px !important;
    padding-right: 0px;
}

button.navbar-toggle,
button.navbar-toggle:focus,
button.navbar-toggle:active,
button.navbar-toggle:hover {
    border-radius: 0;
    border-color: transparent;
    box-shadow: none;
}
section[id*="filterlessco_social_icons"] {
    float: right;
    margin: 0;
}

section[id*="filterlessco_social_icons"] ul {
    padding: 0;
    margin: 0;
}

section[id*="filterlessco_social_icons"] li {
    display: inline;
}

section[id*="filterlessco_social_icons"] li a {
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    font-family: BebasNeueBook;
}

section[id*="filterlessco_social_icons"] li a .fa {
    padding-right: 3px;
}

section[id*="filterlessco_social_icons"] li a:focus,
section[id*="filterlessco_social_icons"] li a:hover,
section[id*="filterlessco_social_icons"] li a:active {
    outline: none;
}

