{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="row">
					<div class="small-12 medium-1 large-1 columns">
						<h1 class="hdr-logo" role="banner">
							<a class="hdr-logo-link" href="{{site.url}}" rel="home">{% block logo %}
								<img src="{{ TimberImage(options.small_logo.url).src }}"/>
							{% endblock %} {{site.name}}</a>
						</h1>
					</div>
					<div class="small-12 medium-11 large-11 columns">
						<nav id="nav-main" class="nav-main row" role="navigation">
							{% include "menu.twig" with {'menu': menu.get_items} %}
						</nav><!-- #nav -->
					</div>
				</div>
			{% endblock %}
		</header>
		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
		<script type="text/javascript">
			$(document).foundation();
		</script>
	</body>
</html>
