<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <img src="{{ TimberImage(options.large_logo_white.url).src }}"/>
    <img src="{{ TimberImage(options.eightytwopx_grey.url).src }}"/>
    <p>
      Copyright {{"now"|date('Y')}} {{ site.title }} | <a href="/about/">About Filterless</a><br/>
      All rights reserved
    </p>
    <p><a href="/contact-us/">Contact Us</a></p>
  </div>
</div>
