{% if menu %}
<ul class="vertical medium-horizontal menu">
{% for item in menu %}
	<li class="{{item.classes | join(' ')}}">
		<a href="{{item.get_link}}">
			{% if 'current-menu-item' in item.classes %}
			<i class="material-icons">arrow_forward</i>
			{% else %}
			<i class="material-icons inactive">&nbsp;</i>
			{% endif %}
			<span>{{item.title}}</span>
		</a>
		{% include "menu.twig" with {'menu': item.get_children} %}
	</li>
{% endfor %}
</ul>
{% endif %}
