{% extends "base.twig" %}
{% block content %}
<div class="row">
	<article class="about post-type-{{post.post_type}} small-12 medium-12 large-12 columns" id="post-{{post.ID}}">
		<h1 class="article-h1">{{post.title}}</h1>
		<section class="article-content">
			<div class="article-body">
				{{post.content}}
			</div>
		</section>
	</article>
</div><!-- /content-wrapper -->
{% endblock %}
