{% extends "base.twig" %}
{% block content %}
<div class="row">
	<article class="contact-us post-type-{{post.post_type}} small-12 medium-12 large-12 columns" id="post-{{post.ID}}">
		<section class="article-content">
			<div class="article-body">
				{{post.content}}
			</div>
		</section>
	</article>
</div><!-- /content-wrapper -->
{% endblock %}
