{% extends "base.twig" %}
{% block content %}
<div class="row expanded columns hero">
	{% if post.thumbnail %}
	<img src="{{ post.thumbnail.src|resize(1200) }}" />
	{% endif %}
	<div class="hero-slider">
		<ul>
			{% for image in post.get_field('hero_gallery') %}
			<li>
				<img class="orbit-image" src="{{ TimberImage(image).src|resize(1200) }}" />
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="row">
	<article class="post-type-{{post.post_type}} small-12 medium-12 large-12 columns" id="post-{{post.ID}}">
		<section class="article-content">
			{% if post.title != 'Home' %}
			<h1 class="article-h1">{{post.title}}</h1>
			{% endif %}
			<div class="article-body">
				{% if post.title == 'Home' %}
				<h2>{{ function('wp_strip_all_tags', post.content, true) }}</h2>
				{% else %}
				{{post.content}}
				{% endif %}
				<div class="row services">
					{% for service in post.get_field('service_list') %}
					<div class="service small-12 medium-4 large-4 columns">
						<h3>{{ service.letter }}</h3>
					  <h4>{{ service.title }}</h4>
						<img src="{{ TimberImage(options.eightytwopx_grey.url).src }}"/>
						{{ service.description }}
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</article>
</div><!-- /content-wrapper -->
{% endblock %}
