{% extends "base.twig" %}
{% block content %}
<div class="row">
	<article class="production post-type-{{post.post_type}} small-12 medium-12 large-12 columns" id="post-{{post.ID}}">
		<section class="article-content">
			<h1 class="article-h1">{{post.title}}</h1>
			<div class="article-body">
				{{post.content}}
			</div>
			{% if post.get_field('service_list') %}
			<div class="row services">
				{% for service in post.get_field('service_list') %}
				<div class="service small-12 medium-4 large-4 columns">
					<h3>{{ service.letter }}</h3>
					<h4>{{ service.title }}</h4>
					<img src="{{ TimberImage(options.eightytwopx_grey.url).src }}"/>
					{{ service.description }}
				</div>
				{% endfor %}
			</div>
			{% endif %}
			{% for row in projects|batch(3, "No projects") %}
			<div class="row">
				{% for project in row %}
				<div class="small-12 medium-4 large-4 columns image-grid">
					<a href="{{ project.link }}">
						{% include 'image-grid.twig' with {'src': project.get_image_src} %}
						{{ project.title }}
					</a>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</section>
	</article>
</div><!-- /content-wrapper -->
{% endblock %}
