{% extends "base.twig" %}
{% block content %}
<div class="row project-image">
	<div class="small-12 medium-12 large-12 columns">
		<img src="{{ post.get_image_src|resize(1200) }}"/>
	</div>
</div>
<div class="row project-content">
	<div class="small-12 medium-4 large-4 columns">
		<h4>Client / {{ post.get_field('client').post_title }}</h4>
		{% for meta in post.get_field('metadata') %}
		<h4>
			{% if meta.label %}<span class="meta-label">{{ meta.label }} / </span>{% endif %}
			<span class="meta-value">{{ meta.value }}</span>
		</h4>
		{% endfor %}
	</div>
	<article class="post-type-{{ post.post_type }} small-12 medium-8 large-8 columns" id="post-{{ post.ID }}">
		<section class="">
			<h1 class="">{{ post.title }}</h1>
			<div class="">
				{{ post.content }}
			</div>
		</section>
	</article>
</div>
{% for row in post.get_attachments()|batch(3, "") %}
<div class="row medium-uncollapse large-collapse">
	{% for attachment in row %}
	<div class="small-12 medium-4 large-4 columns image-grid">
		<a data-open="{{ function('md5', attachment.src) }}">
			{% include 'image-grid.twig' with {'src': attachment.src} %}
			{{ attachment.title }}
		</a>
	</div>
	<div class="full reveal" id="{{ function('md5', attachment.src) }}" data-reveal>
		<img src="{{ attachment.src|resize(1200) }}"/>
		<button class="close-button" data-close aria-label="Close modal" type="button">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %}
</div>
{% endfor %}
{% endblock %}
