{% extends "base.twig" %}
{% block content %}
<div class="row">
	<article class="representation post-type-{{post.post_type}} small-12 medium-12 large-12 columns" id="post-{{post.ID}}">
		<section class="article-content">
			<h1 class="article-h1">{{post.title}}</h1>
			<div class="article-body">
				{{post.content}}
			</div>
			{% for row in artists|batch(3, "No artists") %}
			<div class="row">
				{% for artist in row %}
				<div class="small-12 medium-4 large-4 columns image-grid">
					<a href="{{ artist.link }}">
						{% include 'image-grid.twig' with {'src': artist.get_image_src} %}
						{{ artist.title }}
					</a>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</section>
	</article>
</div><!-- /content-wrapper -->
{% endblock %}
