{% extends "base.twig" %}
{% block content %}
<div class="row">
	<article class="post-type-{{post.post_type}} work small-12 medium-12 large-12 columns" id="post-{{post.ID}}">
		<section class="article-content">
			<h1 class="article-h1">{{post.title}}</h1>
			<div class="article-body">
				{{post.content}}
			</div>
			{% for row in projects|batch(3, "No projects") %}
			<div class="row">
				{% for project in row %}
				<div class="small-12 medium-4 large-4 columns image-grid">
					<a href="{{ project.link }}">
						{% include 'image-grid.twig' with {'src': project.get_image_src} %}
						{{ project.title }}
					</a>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
			<div class="row">
				<ul class="pagination text-center" role="navigation" aria-label="Pagination">
					<li class="pagination-previous {% if not pagination.prev %}disabled{% endif %}">
						{% if pagination.prev %}
						<a href="{{ pagination.prev.link }}">
						{% endif %}
							Previous <span class="show-for-sr">page</span>
						{% if pagination.prev %}
						</a>
						{% endif %}
					</li>
					{% for page in pagination.pages %}
					{% if page.link %}
					<li><a href="{{ page.link }}" aria-label="Page {{ page.title }}">{{ page.title }}</a></li>
					{% else %}
					<li class="current"><span class="show-for-sr">You're on page</span> {{ page.title }}</li>
					{% endif %}
					{% endfor %}
					<li class="pagination-next {% if not pagination.next %}disabled{% endif %}">
						{% if pagination.next %}
						<a href="{{ pagination.next.link }}" aria-label="Next page">
						{% endif %}
						Next <span class="show-for-sr">page</span>
						{% if pagination.next %}
						</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</section>
	</article>
</div><!-- /content-wrapper -->
{% endblock %}
