body {
  color: rgba(24, 24, 24, 1);
  font-family: 'Roboto Condensed', serif;
  padding-top: 1em;
}

a, a:hover, a:visited, a:active {
  color: rgba(74, 74, 74, 1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', serif;
}

p {
  font-size: 1.5em;
}

.hdr-logo-link {
  display: block;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

nav {
  margin-bottom: 2em;
  font-family: 'Oswald', serif;
}

nav ul {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

nav .menu li a {
  padding: 0;
  padding-bottom: .25em;
}

footer {
  background-color: rgb(48, 49, 51);
  color: #fff;
  padding-top: 2em;
  padding-bottom: 3em;
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
  color: #fff;
}

footer img {
  display: block;
  margin-bottom: 1em;
}

.hero {
}

.hero img {
  width: 100%;
}

.hero-slider {

}

.home .article-body h2 {
  color: rgba(74, 74, 74, 1);
  margin: 2em 0 3em;
}

.services {
  margin-bottom: 120px;
}

.service h3 {
  font-family: 'Playfair Display', serif;
  font-size: 12em;
}

.service img {
  display: block;
  margin-bottom: 1em;
}

.article-h1 {
  margin-top: 120px;
}

.article-body {
  margin-bottom: 120px;
}

.image-grid {

}

.work .image-grid,
.representation .image-grid,
.production .image-grid,
.licensing .image-grid {
  height: 360px;
}

.image-grid img {
  display: block;
  margin-bottom: 18px;
}

.image-grid img.horizontal {
  width: 100%;
}

.image-grid img.vertical {
  margin: auto;
}

.pagination .current {
  background-color: rgb(48, 49, 51);
}

.project-image {
  margin-bottom: 120px;
}

.project-content {
  margin-bottom: 120px;
}

.full.reveal img {
  display: block;
  margin: auto;
}

.button {
  background-color: rgb(48, 49, 51);
}

.unslider {
  position: relative;
}

.unslider-arrow {
  top: 50%;
  color: white;
}

.unslider-arrow:active,
.unslider-arrow:hover {
  color: white;
}

.unslider-arrow i {
  font-size: 72px;
}

.meta-label {
  color: rgba(0, 0, 0, .25);
  font-size: .6em;
}

.meta-value {
  /*color: rgba(0, 0, 0, .25);*/
  font-size: .6em;
}

.nav-main {
  padding-top: 24px;
}

.nav-main li {
  padding-right: 24px;
}

.nav-main a {
  font-size: 2em;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .hero-slider {
  }
  .hero-slider img {
  }
  .hdr-logo-link {
    height: 40px;
  }
  .unslider-arrow {
    top: 30%;
  }
  .inactive {
    width: 24px;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {
  .hero-slider {
    height: 640px;
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
